mpd/.mpd/mpd.log
mpd/.mpd/mpdstate

ranger/.config/ranger/colorschemes/__init__.py
ranger/.config/ranger/colorschemes/__init__.pyo
ranger/.config/ranger/colorschemes/gnamerica.pyo

weechat/.weechat/

mutt/.muttrc
